@words:#78705D;
@bodyback:#3E3C33;
@darkwrite:#3E3C33;

*{
color:#F2ECE3;
}

body{
background-color:@bodyback;
}

.words {
    margin:5px;
    padding:10px;
    background-color:@words;
}

.page-footer{
    padding-top: 60px;
    padding-bottom: 40px;
}

